{
	admin off
	persist_config off
	auto_https off

	log {
		format json
	}

	servers {
		trusted_proxies static private_ranges
	}
}

:{$PORT:80} {
	log

	# Handle CORS to support the PostHog toolbar
	@allowed_origin {
		expression `{$ALLOWED_ORIGIN_REGEX}` != ""
		header_regexp Origin {$ALLOWED_ORIGIN_REGEX}
	}
	header @allowed_origin {
		Access-Control-Allow-Origin {header.Origin}
		Access-Control-Allow-Credentials true
		Vary Origin
	}

	# Healthcheck endpoint
	handle /health {
		respond 200
	}

	# Pass the rest through to PostHog
	handle /static/* {
		reverse_proxy https://{$POSTHOG_ASSETS_HOST}:443 {
			header_up Host {$POSTHOG_ASSETS_HOST}
			header_down -Access-Control-Allow-Origin
		}
	}
	handle {
		reverse_proxy https://{$POSTHOG_API_HOST}:443 {
			header_up Host {$POSTHOG_API_HOST}
			header_down -Access-Control-Allow-Origin
		}
	}

	handle_errors {
		respond "" {err.status_code}
	}
}
